body {
  color: var(--color-base);
  background: var(--background-primary);
  margin: 0;
  padding: 0;
}

/*
Henuz aktif degil , tekrar bakilacak.

.shadow-box {
  box-shadow: var(--box-shadow);
} */

/*
Henuz aktif degil , tekrar bakilacak.
:root {
  font-size: var(--font-size);;
} */
